@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite/dist/flowbite.css';



/* Optional: Custom styles for table and buttons */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}